
    <div class="container">
        <div class="row">
            <div class="navbar navbar-default bs-calltoaction bs-calltoaction-primary ">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" style="background-color: #337ab7" class="btn navbar-toggle"
                                data-toggle="collapse"
                                data-target="#responsive-menu">
                            <span style="background: white" class="icon-bar"></span>
                            <span style="background: white; color: white" class="icon-bar"></span>
                            <span style="background: white; color: white" class="icon-bar"></span>
                        </button>
                        <a id="logo" class="btn logo" style="color: #fdfdfe"
                           href="/#"><img  src="/static/images/logo.gif" alt="U-PUMP"/></a>
                    </div>
                    <div class="row collapse navbar-collapse navbar-width cta-button" id="responsive-menu">
                        <div class="navbarmini">
                            <ul class="nav navbar-nav btn-group navbarmini">
                                <li class="navbarmini">
                                    <button ng-click="openPage('news')"
                                            class="btn btn-primary animation">Новости
                                    </button>
                                </li>
                                <li class="navbarmini">
                                    <button ng-click="openPage('myworkouts')"
                                            class="btn btn-primary animation">Мои тренировки
                                    </button>
                                </li>
                                <li class="navbarmini">
                                    <button ng-click="openPage('best')"
                                            class="btn btn-primary animation">Лучшие
                                    </button>
                                </li>
                                <li class="navbarmini">
                                    <button  ng-click="openPage('all')"
                                            class="btn btn-primary animation">Все тренировки
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="blocklogin" align="right">
                <div class="btn-group cta-button" role="group">
                    <button id="login" ng-hide="value.status" ng-click="loginHeader()"
                            class="btn btn-primary btn-xs">войти
                    </button>
                    <button id="registration" ng-hide="value.status" ng-click="openPage('registration')"
                   class="btn btn-primary btn-xs">зарегистрироваться</button>
                    <button id="info" ng-show="value.status" ng-click="openPage('aboutme')"
                            class="btn btn-primary btn-xs">обо мне
                    </button>
                    <button id="logout" ng-show="value.status" class="btn btn-primary btn-xs" ng-click="logoutHeader()">
                        выйти
                    </button>
                </div>
            </div>
        </div>
    </div>
