/.idea/
/lib/
/out/
/target/
ap.rar
ap/
hs_err_pid15292.log
hs_err_pid7868.log
web/WEB-INF/debug.log
web/WEB-INF/views/angular/app/
web/static/fonts/
/src/main/resources/mail.properties
/src/main/resources/hibernate.properties
