<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>New Web Project</title>
		<link href="css/css.css" rel="stylesheet">
    </head>
    <body>
    	<header>
    		12
    	</header>
        <div id="main">
        <div id="panel_button">
         <button id="add_new_tren">Добавить новую тренировку</button>
        </div>
        <div id="list_tren">
       
        
        </div>
          
        </div>
		<script src="js/jquery-3.1.0.min.js"></script>
		<script src="js/js.js"></script>
		<script src="js/getxml.js"></script>
		
    </body>
</html>
