<div class="container animation">
    <div class="row">
        <div class="bs-calltoaction bs-calltoaction-primary">
            <form class="form-signin" novalidate ng-submit="saveExercise(editExercise)">
                <p class="field">
                    <input type="text" class="form-control" ng-model="editExercise.name" ng-required name="name"
                           id="name" placeholder="Название упражнения"/>
                </p>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <p class="submit cta-button">
                    <button class="btn btn-lg btn-block btn-primary" type="submit" name="submit">Сохранить</button>
                    <button class="btn btn-lg btn-block btn-primary" ng-click="backToExercise(editExercise)" name="submit">Отмена
                    </button>
                </p>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>
