<div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="container btn-group">
                <button class="btn btn-primary" ng-click="backBtn()">Назад
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="container btn-group">
                <button class="btn btn-primary" ng-click="copy(controllerValue.authorExercises)">Скопировать
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container animation" ng-repeat="exercise in controllerValue.authorExercises.exerciseXMLList">
    <div class="bs-calltoaction bs-calltoaction-primary">
        <div class="row">
            <div class="col-md-12 cta-contents cta-button">
                <div>
                    <h1 class="update cta-title">{{exercise.name}}</h1>
                </div>
                <div>
                    <button ng-repeat="try in exercise.list" class="btn btn-primary cta-button">{{try.weight}}/{{try.repeat}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>