<!--<div class="container">
    <div class="row">
        <div class="navbar navbar-default bs-calltoaction bs-calltoaction-primary">
            <h5 class="cta-title">Тренировка: {{workout.name}}</h5>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="container btn-group">
                <button class="add btn btn-primary" ng-click="backToWorkouts()">Назад
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="container btn-group">
                <button class="add btn btn-primary" ng-click="createOrEditExercise(workout)">Добавить новую упражнение
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-cloak class="container animation" ng-repeat="exercise in workout.exerciseXMLList">
    <div class="bs-calltoaction bs-calltoaction-primary">
        <div class="row">
            <div class="col-md-9 cta-contents cta-button">
                <div>
                    <h1 ng-click="createOrEditExercise(item)" class="update cta-title">{{exercise.name}}</h1>
                </div>
                <div>
                    <button ng-repeat="try in exercise.list"  ng-click="done(try)" ng-class="try.done ? 'btn btn-danger cta-button':'btn btn-primary cta-button'" >{{try.weight}}/{{try.repeat}}
                    </button>
                </div>
            </div>
            <div class='col-md-3 cta-button'>
                <button class="btnEdit btn btn-lg btn-block btn-primary" ng-click="openExercise(exercise)">Редактировать подходы</button>
                <button class="delete btn btn-lg btn-block btn-primary" ng-click="deleteExercise(exercise)">Удалить</button>
            </div>
        </div>
    </div>
</div>