<div class="container">
    <div class="row">
        <div class="btn-group btn-group-justified">
            <div class="container btn-group">
                <button class="btn btn-primary" ng-click="backBtn()">Назад
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container animation" ng-repeat="workout in controllerValue.authorWorkouts.workoutXML">
    <div class="bs-calltoaction bs-calltoaction-primary">
        <div class="row">
            <div class='col-md-9 cta-contents cta-button'>
                <div><h1 class="update cta-title">{{workout.name}}</h1>
                    <div><h4 class="update cta-title">Рейтинг: {{workout.rate}}</h4>
                    </div>

                </div>
            </div>
            <div class='col-md-1 cta-button'>
                <button class="btnEdit btn btn-lg btn-block btn-primary" ng-click="rate(workout, 1)">+
                </button>
                <button class="btnEdit btn btn-lg btn-block btn-primary" ng-click="rate(workout, 0)">-
                </button>
            </div>
            <div class='col-md-2 cta-button'>
                <button class="btnEdit btn btn-lg btn-block btn-primary" ng-click="openWorkout(workout)">Открыть
                </button>
            </div>

        </div>
    </div>
</div>